html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.templateProductList {
  background: #FFFFFF;
  box-shadow: 0px 100px 133px rgba(0, 0, 0, 0.05), 0px 22.3363px 29.7073px rgba(0, 0, 0, 0.0298054), 0px 6.6501px 8.84464px rgba(0, 0, 0, 0.0201946);
  border-radius: 10px;
  height: 300px;
  width: 209px;
  border-radius: 10px;
}

.templateCollect{
  background: #FFFFFF;
  box-shadow: 0px 100px 133px rgba(0, 0, 0, 0.05), 0px 22.3363px 29.7073px rgba(0, 0, 0, 0.0298054), 0px 6.6501px 8.84464px rgba(0, 0, 0, 0.0201946);
  border-radius: 10px;
  height: 116px;
  width: 115px;
  margin: 10px 4px 3px 7px;

}

.templatebag{
  background: #FFFFFF;
  box-shadow: 0px 100px 133px rgba(0, 0, 0, 0.05), 0px 22.3363px 29.7073px rgba(0, 0, 0, 0.0298054), 0px 6.6501px 8.84464px rgba(0, 0, 0, 0.0201946);
  border-radius: 10px;
  height: 402px;
  width: 387px;
  padding-bottom: 40px;
}

