html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.templateProductList {
  background: #FFFFFF;
  box-shadow: 0px 100px 133px rgba(0, 0, 0, 0.05), 0px 22.3363px 29.7073px rgba(0, 0, 0, 0.0298054), 0px 6.6501px 8.84464px rgba(0, 0, 0, 0.0201946);
  border-radius: 10px;
  height: 300px;
  width: 209px;
  border-radius: 10px;
}

.templateCollect{
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 10px;
  width: 116px;
  height: 115px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.templatebag{
background: #FFFFFF;
border: 1px solid #DEDEDE;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding-bottom: 40px;
width: 387px;
height: 402px;
}

.templateSignin{
  position: absolute;
  width: 800px;
  height: 600px;
  left: 135px;
  top: 15px;
  
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  box-shadow: 0px 43px 350px rgba(0, 0, 0, 0.06), 0px 12.9632px 105.515px rgba(0, 0, 0, 0.0452747), 0px 5.38427px 43.8254px rgba(0, 0, 0, 0.0419759), 0px 1.94738px 15.8508px rgba(0, 0, 0, 0.0376014);
  border-radius: 20px;

}

.templateImgSignin{
  position: absolute;
  width: 400px;
  height: 400px;
  left: 100px;
  top: 75px;
}

